<!DOCTYPE html><html>
<head>
	<meta charset="utf-8"/>
	<title>UI | Echelon Flask</title>
</head>
<body>


<div id="fluid-container">

	<div id="header">
		<header>Echelon Transformer</header>
	</div>

	<div id="navbar">
		<ul>
			<a href="{{url_for('index')}}"><li>Home</li></a>
			<a href="{{url_for('get_input')}}"><li>Start</li></a>
		</ul>
	</div>

	<div id="content-space">
		{% block input %}{% endblock %}
		{% block output %}{% endblock %}
	</div>


	<div>
		<footer>
			Made with &lt;/&gt; by Roshan Sharma :)
		</footer>
	</div>


</div>
</body>
</html>
<script type="text/javascript">	

var parent = document.getElementById('primary-form');

var numRows = document.querySelector('[name="row-count"]').value;
var numCols = document.querySelector('[name="column-count"]').value;

var i = ii = 0;

var currentRow = currentCol = 1;

function generateFields(){

	for (i = 0; i < numRows; i++){
		var labelTag = document.createElement('label');
		labelTag.appendChild(document.createTextNode("Insert ROW-"+ currentRow + " elements:"));
		parent.appendChild(labelTag);
		parent.appendChild(document.createElement('br'));
		currentCol = 1;
		for (ii = 0; ii < numCols; ii++){
			var inputTag = document.createElement('input');
			inputTag.setAttribute('type', 'text');
			inputTag.setAttribute('name', 'elem-'+ currentRow +'-'+ currentCol);
			inputTag.setAttribute('placeholder', 'Element '+ currentRow +'-'+ currentCol);
			inputTag.setAttribute('form', 'primary-form'); // check if required or not.
			inputTag.setAttribute('size', '5');
			parent.appendChild(inputTag);
			currentCol += 1;
		}
		parent.appendChild(document.createElement('br'));
		currentRow += 1;
	}
	// add submit button ..
	var submitButton = document.createElement('button');
	submitButton.setAttribute('form', 'primary-form');
	submitButton.appendChild(document.createTextNode('Process data'));
	parent.appendChild(submitButton);
	// removing action button..
	document.querySelector('[onclick="generateFields()"]').style.display = 'none';
}

</script>