{% extends "index.html" %}


{% block output %}

<div id="output-space">
	<h1>Input was:</h1><br/>

	{% for i in range(matrix_orig|length) %}
		<tr>
			{% for j in range(matrix_orig|length) %}
				<td> {{ matrix_orig[i][j] }} </td>
			{% endfor %}
			<br/>
		</tr>
	{% endfor %}
	<br/><br/>
	<h1>Output is: </h1><br/>
	{% for i in range(matrix_conv|length) %}
		<tr>
			{% for j in range(matrix_conv|length) %}
				<td> {{ matrix_conv[i][j] }} </td>
			{% endfor %}
			<br/>
		</tr>
	{% endfor %}
</div>

{% endblock %}